<div class="ride-detail-modal" layout="column">
    <header>
        <div class="instructions">
        </div>
    </header>
    <div layout="row" layout-align="space-between strech">
        <div class="ride-detail-stuff">
            <md-input-container>
                <label for="ride-name-input">Ride Name</label>
                <input name="ride-name-input" ng-model="vm.newRide.rides_name" />
            </md-input-container>
            <md-input-container>
                <label for="ride-date-input">Ride date</label>
                <input type="datetime-local" name="ride-date-input" ng-model="vm.newRide.rides_date" />
            </md-input-container>
                <md-input-container>
                    <label>Category</label>
                    <md-select ng-model="vm.newRide.ride_category">
                        <md-option ng-repeat="category in vm.categories.list" ng-value="category.id">
                            {{category.type}}
                        </md-option>
                    </md-select>
                </md-input-container>
            <md-input-container>
                <label for="location-input">Location</label>
                <input name="location-input" ng-model="vm.newRide.ride_location" />
            </md-input-container>
            <md-input-container>
                <label for="gps-link-input">GPS Link</label>
                <input name="gps-link-input" ng-model="vm.newRide.url" />
            </md-input-container>
            <md-content>
                <label>Add a Distance and Press Enter:</label>
                <md-chips ng-model="vm.newRide.distances" placeholder="Add a Distance and Press Enter" md-max-chips="7"></md-chips>
            </md-content>
            
        </div>
        <div class="ride-detail-stuff" flex="40" layout="column" layout-align="center space-between">
            <md-input-container>
                <!-- style="margin-left:27px;" -->
                <label for="description-input">Description</label>
                <textarea name="description-input" ng-model="vm.newRide.description" rows="5" style="height:100px;"></textarea>
            </md-input-container>
            <div>
                <!-- style="margin-right:59px;" -->
                <md-button ng-click="vm.submitRide(vm.newRide)"> Submit ride for approval</md-button>
            </div>
        </div>
    </div>
</div>