<md-dialog flex="50">
    <div class="guest-register">
        <header>
            <div class="instructions"></div>
        </header>
        <div layout="row" layout-align="space-between center">
            <div flex="33" layout="column" layout-align="center start" class="guest-register-modal">
                <md-input-container flex>
                    <label for="first-name-input">First Name</label>
                    <input name="first-name-input" ng-model="vm.newGuest.first_name" />
                </md-input-container>
                <md-input-container flex>
                    <label for="last-name-input">Last Name</label>
                    <input name="last-name-input" ng-model="vm.newGuest.last_name" />
                </md-input-container>
            </div>
            <div flex="33" layout="column" layout-align="center start" class="guest-register-modal">
                <md-input-container flex>
                    <label for="phone-number-input">Phone Number</label>
                    <input name="phone-number-input" ng-model="vm.newGuest.phone_1" />
                </md-input-container>
                <md-input-container flex>
                    <label for="email-input">Email</label>
                    <input name="email-input" type="email" ng-model="vm.newGuest.email" />
                </md-input-container>
                <md-checkbox aria-label="check-in-guest-waiver" ng-model="vm.newGuest.waiver_signed" ng-checked="vm.newGuest.waiver_signed">
                </md-checkbox>
            </div>
            <div>
                <md-button flex="33" type="submit" class="add-guest-button" ng-click="vm.addGuestRider()">Add guest to ride!</md-button>
            </div>
        </div>
    </div>
</md-dialog>