<md-dialog flex="50">
    <header>
        <div class="instructions">
            <div layout="row" layout-align="end start" style="max-height:0px;">
                <button ng-click="vm.closeModal()" style="background-color: inherit; color:honeydew; border:none;">
                    <i class="material-icons">clear</i>
                </button>
            </div>
            <p>Change Password for {{vm.editUser.first_name}} {{vm.editUser.last_name}}</p>
        </div>
    </header>
    <div class="ride-detail-modal" layout="column" layout-align="center center">
        <md-content>
            <div>
                <form name="changePasswordForm" ng-submit="vm.submitForm(vm.newPassword)" layout="column">
                    <md-input-container flex>
                        <label for="password">New Password</label>
                        <input ng-model="vm.newPassword.newPassword" type="password">
                    </md-input-container>
                    <md-input-container flex>
                        <label for="confirmPassword">Repeat New Password</label>
                        <input ng-model="vm.newPassword.confirm" type="password">
                    </md-input-container>
                    <span ng-if="vm.passwordFail">Passwords do not match!</span>
                    <md-button type="submit" class="md-primary md-raised">Submit</md-button>
                </form>
            </div>
        </md-content>
    </div>
</md-dialog>