<header ng-include="'/views/shared/header.html'"></header>

<div layout="row" layout-align="center center" style="min-height: 200px">
  <md-input-container class="md-block" flex-gt-sm>
    <label>First Name</label>
    <input ng-model="vm.rider.first_name">
  </md-input-container>
  <md-input-container class="md-block" flex-gt-sm>
    <label>Last Name</label>
    <input ng-model="vm.rider.last_name">
  </md-input-container>
  <md-input-container class="md-block" flex-gt-sm>
    <label>Member ID</label>
    <input ng-model="vm.rider.member_id">
  </md-input-container>
  <md-input-container class="md-block" flex-gt-sm>
    <md-button class="md-raised md-primary" ng-click="vm.findRider(vm.rider)">Submit</md-button>
  </md-input-container>
</div>
<div layout="row" layout-align="center center">
  <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
    <thead>
      <tr>
        <th class="sortable" sortable="date">
          <span>First Name</span>
          <span class="arrow"></span>
        </th>
        <th style="text-align: center;">
          <span>Last Name</span>

        </th>
        <th sortable="rides_name" class="sortable mdl-data-table__cell--non-numeric">
          <span>Member ID</span>
          <span class="arrow"></span>
        </th>

        <th sortable='type' class="sortable mdl-data-table__cell--non-numeric">
          <span>Current Role</span>
          <span class="arrow"></span>
        </th>
        <th>
          <span>Update Role</span>
        </th>
        <th>
          <span>Rides</span>
        </th>
        <th>
          <span>Change Password</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="member in vm.riderInfo.list">
        <!-- <tr ng-repeat="ride in filtered | startFrom:(paginationOptions.currentPage-1)*paginationOptions.itemsPerPage | limitTo:paginationOptions.itemsPerPage track by $index"> -->
        <td style="text-align: center;">{{member.first_name}}</td>
        <td style="text-align: center;">{{member.last_name}}</td>
        <td style="text-align: left;">{{member.member_id}}</td>
        <td style="text-align: center;">{{member.role}}</td>
        <td style="text-align: center;">
          <md-select placeholder="Select Role" ng-model="vm.userRole">
            <md-option ng-repeat="roles in vm.getUserRoles.list" ng-value="roles">{{roles.role}}</md-option>
          </md-select>
          <md-button class="md-raised md-button" ng-click="vm.changeRole(vm.userRole, member)">Submit</md-button>
        </td>
        <td>
          <md-button class="md-raised md-button" ng-click="vm.adminViewMemberPastRides(member_id)">View</md-button>
        </td>
        <td>
          <md-button class="md-raised md-button" ng-click="vm.openChangePasswordModal(ev,member)">Change Password</md-button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div layout-align="center center">




  <!-- <md-button class="md-icon-button" aria-label="Upload" type="file" ngf-select ng-model="file" name="file" ngf-accept="'.csv'" ngf-pattern="'.csv'"
  accept=".csv" ngf-max-size="20MB" ngf-model-invalid="errorFile">


    <i class="material-icons md-24">add_circle_outline</i>
  </md-button>


  <label> Upload Member Information - CSV File</label>



  <i ng-show="vm.csvUpload.file.$error.maxSize">File too large {{errorFile.size / 1000000|number:1}}MB: max 20MB</i>
  <img ng-show="vm.csvUpload.file.$valid" ngf-thumbnail="file">
  <br>



  <div ng-show="file.length"> -->




<div flex layout="row">
  <md-button class="md-icon-button" id='upload' aria-label="Upload" ngf-select ng-model="oogieboogie" name="file" ngf-pattern="'/.png'"
  ngf-accept="'/.png'" ngf-max-size="20MB" type="file" fileinput="file">

<i class="material-icons md-24">add_circle_outline</i>
  </md-button>
  <label for="file"> Upload Member Information - CSV File</label>
  <div ng-bind="oogieboogie"></div>
</div>


<!-- <button type="button" ngf-select ng-model="formdata.file" name="file">Select</button> -->



<div flex layout="row"> 
  <md-button ng-disabled="!file" type="submit" class="md-raised md-button md-primary" ng-click="vm.submit(file)">Submit</md-button>
  <md-button class="md-raised md-warn" ng-click="file = null" ng-show="file">Remove</md-button>
</div>
  
  <div class="col-md-6">
      <img ng-src="{{filepreview}}" class="img-responsive" ng-show="filepreview"/>
   </div>







    
   