<header ng-include="'/views/shared/header.html'"></header>
<md-content>
    <div>
        <div layout="row" layout-align="space-between center">
            <h2>Rides Pending Approval</h2>
        </div>
        <br>
        <br>
        <ul layout="column">
            <li layout="row" layout-align="space-around center" style="font-weight:bold;">
                <span flex>Ride Name</span>
                <span flex>Ride Date/Time</span>
                
            </li>
            <li ng-repeat="ride in vm.pendingApprovals.list" class="my-rides-items" layout="row" layout-align="space-between center">
                {{ride.status}}
                <span flex>{{ride.rides_name}}</span>
                <span flex>{{ride.rides_date | date: 'medium' : '-0600'}}</span>
                <span flex layout="row" layout-align="center center">
                    <md-button class="border ride-button" ng-click="vm.approveRide(ride.ride_id)">Approve Ride</md-button>
                    <md-button class="border ride-button"  ng-click="vm.rideDetailReveal(ride)">Details</md-button>
                </span>
            </li>
        </ul>
    </div>
</md-content>