<div>
    <div ng-if="!vm.mode.edit" class="admin-view-past-rides-modal" layout="column">
        <header>
            <div class="instructions">
                <h1>Past Rides</h1>
            </div>
        </header>
        <div layout="row" layout-align="center center">
            <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp pastTable">
                <thead>
                    <tr>
                        <th class="sortable" sortable="date">
                            <span>Ride Name</span>
                            <span class="arrow"></span>
                        </th>
                        <th style="text-align: center;">
                            <span>Ride Date</span>

                        </th>
                        <th sortable='type' class="sortable mdl-data-table__cell--non-numeric">
                            <span>Checked In</span>
                            <span class="arrow"></span>
                        </th>
                        <th>
                            <span>Waiver Signed</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="ride in vm.pastMemberRides.list">
                        <!-- <tr ng-repeat="ride in filtered | startFrom:(paginationOptions.currentPage-1)*paginationOptions.itemsPerPage | limitTo:paginationOptions.itemsPerPage track by $index"> -->
                        <td style="text-align: center;">{{ride.rides_name}}</td>
                        <td style="text-align: center;">{{ride.rides_date | date:'MM-dd-yyyy'}}</td>
                        <td style="text-align: center;">{{ride.checked_in}}</td>
                        <td style="text-align: center;">{{ride.waiver_signed}}</td>
                        <td>
                            <md-button class="md-raised md-primary" ng-click="vm.editSinglePastRide(ride)">Past Ride Details</md-button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div ng-if="vm.mode.edit" layout="column">
        <header>
            <div class="instructions">
                <div layout="row" layout-align="end start">
                    <button ng-click="vm.closeModal()" style="background-color: inherit; color:honeydew; border:none;">
                        <i class="material-icons">clear</i>
                    </button>
                </div>
                <div layout="column" layout-align="center center">
                    <h1>{{vm.member.first_name}} {{vm.member.last_name}}'s ride</h1>
                </div>
            </div>
        </header>
        <div layout="row" layout-align="space-between strech">
            <div class="ride-detail-stuff">
                <h2>Location</h2>
                <p>{{vm.ride.ride_location}}</p>
                <h2>Ride Name</h2>
                <p>{{vm.ride.rides_name}}</p>
                <h2>Ride Date</h2>
                <p>{{vm.ride.rides_date | date : 'short'}}</p>
            </div>
            <div class="ride-detail-stuff" layout="column" layout-align="center center">
                <h2>Distance</h2>
                <md-input-container>
                    <label for="actual-distance">Edit Distance Ridden</label>
                    <input name="actual-distance" ng-model="vm.ride.actual_distance" />
                </md-input-container>
                <md-button ng-click="vm.editRideActualMileage(vm.ride.actual_distance)">Save new mileage</md-button>
            </div>
        </div>
    </div>
</div>