#manageMemberTable {
    font-family: 'Arimo', sans-serif;
    height: 200px;
    width: 100%;
    text-align: center;
    border: 2px solid #000;
    border-collapse: collapse;
    background-color: rgb(152, 181, 206);
    color: #000;
    margin-top: 20px;
  }
  
  #manageMemberTable td,
  #manageMemberTable th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #manageMemberTable tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  #manageMemberTable th {
    padding: 20px;
    /* padding-bottom: 12px; */
    /* text-align: left; */
    background-color: rgb(38, 126, 226);
    color: white;
    text-align: center;
    height: 20px;
    font-size: 20px;
    text-shadow: 2px 2px 6px #000;
  
  }