.profileContainer {
    padding: 0;
}

.profileLayout {
    margin-top: 20px;
}

.profileInfo {
    border: 2px solid rgb(2, 51, 83);
    padding: 20px;
    width: 30%;
    background-color: rgb(89, 149, 184);
    font-size: 20px;
    color: #fff;
}

.profileLabel {
    margin-bottom: 10px;
    font-weight: 900;
}

.profileLink {
    text-align: center;
}

.profileUserDataLabel {
    margin-left: 10px;
}
