.profileContainer {
    padding: 0;
    width: 100%;
    margin: 0;
    border-left: 1px solid black;
    
}

.profileInfo {
    border: 3px solid #3F53AF;
    padding: 20px;
    width: 100%;
    font-size: 20px;
    color: #000;
    
}

.profileLabel {
    margin-bottom: 10px;
    font-weight: 900;
}

.profileLink {
    text-align: center;
}

.profileUserDataLabel {
    margin-left: 10px;
}

