body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
}

.instructions .container h1 {
  font-size: 32px;
  font-weight: 600;
}

.instructions {
  background-color: #333333;
  color: #DDDDDD;
  padding: 15px;
}

#entryForm {
  margin-top: 14px;
}

#container {
  margin-top: 10px;
}

.container p{
  margin-top : 14px;
}

.message {
  padding: 10px 0;
}

.message p {
  margin-left: 10px;
}

.message:nth-child(odd) {
   background-color: #eeeeee;
}

.message:nth-child(even) {
  background-color: #f8f8f8;
}

.btn-danger{
  margin-left: 10px;
}

.navbar {
  background-color: #333333;
  width: 100%;
  border-radius: 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* Header */
.md-toolbar-tools {
  height: 125px;
  max-height:125px;
}
.logo {
  width: 100px;
  height:auto;
}
/* Change the link color to #111 (black) on hover */
li a:hover {
  text-decoration: underline;
  color: #eee;
}

.ride-detail-modal{
  min-width: 600px;
  max-height: 600px;
}
.lead{
  text-align: center;
}
.ride-detail-stuff{
  padding: 10px;
}

/* Home */


.md-block { 
 display: inline-block;
}
.search-icon {
  display: inline-block;
} 
th {
  height: 50px;
}
.border{
  border: 1px solid #a1a1a1;
}
.ride-button{
  /* background-color: #cfcfcf; */
  border-radius: 10%;
  box-shadow: 1px 1px #a1a1a1;
}
.ride-button:hover{
  box-shadow: 2px 2px #a1a1a1;
}
.ride-button:active{
  box-shadow: 0px 0px #a1a1a1;
}
.my-rides-items{
  border: 1px solid #c5c5c5;
  background-color: gainsboro;
  margin-bottom: 5px;
}
.create-ride-button{

}
/* body{
  background-color: #c5c5c5;
} */

.mobile-button{
  font-size: xx-large !important;
  height: 7vh;
  width: 30vh;
  margin: 1px;
}

.mobile-table-head{
  font-size: xx-large;
}

.mobile-middle-buttons{
  min-height: 8vh;
}
.mobile-rider-checkbox{
  /* min-height: 100px;
  min-width: 100px; */
}
.mobile-rider-cell{
  text-align: center;
  font-size: xx-large;
  border-right: 3px solid black;
  border-collapse: collapse;
}

.mobile-rider-cell, .mobile-rider-checkbox{
  background-color: #f3f3f3;

}
.material-icons.md-48 { font-size: 48px; }

.guest-register-modal{
  font-size: x-large;
  width: 15vh;
  padding: 25px;
}
.add-guest-button{
  height: 10vh;
  font-size: x-large;
}