.md-errors-spacer {
    display: none;
}

.pagination {
    padding: 0;
    font-size: 0;
    display: inline-block;
}

.pagination>li {
    display: inline-block;
    vertical-align: middle;
    height: 30px;
    border: 1px solid #ddd;
    border-left: 0;
}

.pagination>li:first-child {
    border-left: 1px solid #ddd;
    border-radius: 2px 0 0 2px;
}

.pagination>li:last-child {
    border-radius: 0 2px 2px 0;
}

.pagination a {
    color: #444;
    font-size: 13px;
    padding: 0 10px;
    line-height: 30px;
    display: inline-block;
    text-decoration: none;
}

.pagination .active {
    background: #3f51b5;
    border-color: #3f51b5;
}

.pagination .active a {
    color: #fff;
}

.pagination-page.active {
    background: #3f51b5;
}

.pagination-page.active a {
    color: #fff;
}

.pagination a:hover {
    color: #3f51b5;
}

.responsive {
    width: 100%;
    font-size: 13px;
    border-collapse: collapse;
    box-sizing: border-box;
}

.responsive th {
    color: rgba(0, 0, 0, .54);
    border-bottom: 1px solid rgba(0, 0, 0, .12);
    text-overflow: ellipsis;
    font-weight: 700;
}

.responsive tbody tr {
    border: 1px solid rgba(0, 0, 0, .12);
}

.responsive .sortable .arrow {
    position: relative;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}

.responsive .sortable.sort-ascent .arrow {
    top: -10px;
    left: 5px;
    border-bottom: 4px solid #757575;
}

.responsive .sortable.sort-descent .arrow {
    top: 10px;
    left: 5px;
    border-top: 4px solid #757575;
}

@media screen and (min-width: 761px) {
    .responsive td,
    .responsive th {
        text-align: center;
    }
    .responsive .name {
        text-align: left;
        padding-left: 35px;
    }
    .responsive {
        border: 1px solid rgba(0, 0, 0, .12);
    }
    .responsive tbody tr:hover {
        background-color: #eeeeee;
    }
}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
    .responsive tr {
        margin-bottom: 10px;
    }
    .responsive table,
    .responsive th,
    .responsive td,
    .responsive tr,
    .responsive>thead,
    .responsive>tbody {
        display: block;
    }
    .responsive>thead>tr,
    .responsive>thead>tr>th,
    .responsive>tbody>tr>th {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    .responsive>tbody>tr>td>.md-button {
        margin-left: 0;
        margin-right: 0;
    }
    .responsive>tbody>tr>td {
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50% !important;
        white-space: normal;
        text-align: left;
        display: block;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        min-height: 1em;
    }
    .responsive>tbody>tr>td::before {
        position: absolute;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        -ms-word-wrap: break-word;
        word-wrap: break-word;
        text-align: left;
        font-weight: bold;
        content: attr(data-title);
    }
    .responsive td {
        position: relative;
        padding-left: 50%;
        border: none;
        padding: 12px 18px;
        text-align: right;
    }
    .responsive td md-details-button {
        margin-left: 0;
        margin-right: 0;
    }
    .responsive td:before {
        position: absolute;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        margin-left: 20px;
    }
}