<md-toolbar ng-controller="LoginController as vm">
        <div class="md-toolbar-tools">
                <a ng-href='/#!/home'>
                        <img src="/assets/img/tcbc-logo.png" class="logo" alt="Logo">
                </a>
                <p ng-show='vm.user.member_id'>{{vm.user.first_name}}</p>
                <p ng-show='!vm.user.member_id'>{{vm.miles}}</p>
                <span flex></span>
                <md-button ng-show='vm.user.member_id' ng-click="vm.logout()">Log Out</md-button>
                <md-button ng-show='!vm.user.member_id' ng-click="vm.loginModal()">Log In</md-button>
        </div>
        <div class="nav" ng-show="vm.user.member_id">
                        <div ng-include="'./views/user/partials/nav.html'"></div>
                </div>
</md-toolbar>
