<header ng-include="'/views/shared/header.html'"></header>
<md-content layout="row" flex>
    <div flex layout="row" layout-sm="column" layout-xs="column" layout-margin>
        <md-content class="home-rides-table" layout="row" flex-gt-sm="80" layout-align="space-around start" layout-wrap>
            <div flex-xs="33" flex-gt-sm="25">
                <md-input-container>
                    <input placeholder="Select a date" moment-picker="vm.selectedDate" locale="en" today="true" format="LL" start-view="month" min-date="vm.minDateString" ng-model="vm.filter.date">
                </md-input-container>
            </div>
            <div flex-xs="33" flex-gt-sm="25">
                <md-input-container>
                    <input type="text" class="search" ng-model="vm.filter.query" placeholder="Search for a ride">
                </md-input-container>
            </div>
            <div flex-xs="33" flex-gt-sm="25">
                <md-select aria-label="category-select" ng-model="vm.filter.category" placeholder="Select a category" class="md-input-has-placeholder">
                    <md-option aria-label="category-select-options" ng-repeat="category in vm.categories.list" value="{{category}}">
                        {{category.type}}
                    </md-option>
                </md-select>
            </div>
            <div flex-xs="50" flex-gt-sm="25">
                <div layout="row" layout-align="center center">
                    <div class="md-block">
                        <md-button class="md-raised" ng-click="vm.clearFilters()" aria-label="clear-filters">Clear Filters</md-button>
                    </div>
                </div>
            </div>
            <div ng-hide="true">
                {{(filteredItems = (vm.rides.list | filter:{ local_date: vm.filter.date, rides_name: vm.filter.query, rides_category: vm.filter.category}))}}
            </div>
            <md-content layout="column" flex="100" class="md-padding">
                <mdt-table class="home-table" paginated-rows="{isEnabled: true, rowsPerPageValues: [5,10,20,100]}" mdt-row="{
            data: filteredItems,
            'table-row-id-key': 'ride_id',
            'column-keys': [
                'local_date',
                'local_time',
                'rides_name',
                'type',
                'details'
            ]
            }">
                    <mdt-header-row>
                        <mdt-column column-definition="Date" column-sort="true" align-rule="left"><span>Date</span></mdt-column>
                        <mdt-column column-definition="Time" column-sort="true" align-rule="left"><span>Time</span></mdt-column>
                        <mdt-column column-definition="Name" column-sort="true" align-rule="left"><span>Name</span></mdt-column>
                        <mdt-column column-definition="Category" column-sort="true" align-rule="center"><span>Category</span></mdt-column>
                        <mdt-column column-definition="Details" align-rule="center" column-sort="false"><span>Details</span></mdt-column>
                    </mdt-header-row>
                    <mdt-custom-cell column-key="details" html-content="true">
                        <details-btn ng-click="vm.rideDetailReveal(rowId)"></details-btn>
                    </mdt-custom-cell>
                </mdt-table>
            </md-content>
        </md-content>
        <md-content layout="row" flex-gt-sm="20" layout-align="space-around" layout-wrap>
            <md-content layout="column" flex="100" class="md-whiteframe-3dp">
                <md-toolbar layout="row" class="md-hue-3">
                    <div class="md-toolbar-tools">
                        <span>Category Key</span>
                    </div>
                </md-toolbar>
                <md-content>
                    <md-list flex>
                        <md-list-item class="md-1-line" ng-repeat="category in vm.categories.list" ng-click="null">
                            <div class="md-list-item-text" layout="column">
                                <p>{{category.type}} - {{category.name}}</p>
                            </div>
                        </md-list-item>
                    </md-list>
                </md-content>
            </md-content>
        </md-content>
    </div>
</md-content>