<md-toolbar ng-controller="LoginController as vm">
        <div class="md-toolbar-tools">
                        <img src="/assets/img/tcbc-logo.png" class="logo" alt="Logo">
                <a href="http://www.biketcbc.org/index.php/join-us/become-a-member" target="_blank" ><p class="tcbc-join">Become a TCBC Member</p></a>
                <span flex></span>
                <md-button class="md-raised md-secondary" style="border:2px solid white;"ng-click="vm.registerModal()"> Register </md-button>
                <md-button class="login" ng-click="vm.loginModal()">Log In</md-button>
        </div>
        <div class="nav" ng-show="vm.user.first_name">
                <div ng-if="vm.user.role === 1 || vm.user.role === 2" ng-include="'./views/user/partials/nav.html'"></div>

                <div ng-if="vm.user.role === 3" ng-include="'./views/admin/partials/nav.html'"></div>
        </div>
</md-toolbar>