<div class="ride-detail-modal" layout="column">
    <header ng-include="'/views/user/partials/ride-detail-header.html'"></header>
    <div layout="row" layout-align="space-between strech">
        <div class="ride-detail-stuff">
            <h2>Category</h2>
            <p>{{vm.ride.category}}</p>
            <h2>Ride Leader</h2>
            <p>{{vm.ride.leader}}</p>
            <h2>Location</h2>
            <p>{{vm.ride.category}}</p>
            <h2>GPS Link</h2>
            <p>{{vm.ride.gps}}</p>
        </div>
        <div class="ride-detail-stuff">
            <h2>Description</h2>
            <p>{{vm.ride.description}}</p>
            <h2>Distances</h2>
            <select ng-if="vm.user.loggedIn">
                    <option ng-repeat="distance in vm.ride.distancesAvailable">
                        {{distance}}
                    </option>
                </select>
            <p ng-if="!vm.user.loggedIn"><span ng-repeat="distance in vm.ride.distancesAvailable">{{distance}} </span></p>
            <md-button>Sign Up for ride!</md-button>
        </div>
    </div>
</div>