<header ng-include="'/views/user/partials/header.html'"></header>
<table>
    <thead>
      <tr>
        <th>
            Date
        </th>
        <th>
            Time
        </th>
        <th>
            Ride
        </th>
        <th>
            Category
        </th>
    </thead>
    <tbody>
      <tr ng-repeat="ride in vm.rides">
        <td>
        </td>
        <td>{{film.genre}}</td>
        <td>{{film.synopsis}}</td>
        <td>{{film.director}}</td>
        <td>{{film.actors}}</td>
        <td>{{film.release_year}}</td>
        <td>{{film.rotten_tomatoes}}</td>
        <td><img ng-src="/assets/images/x.png" ng-click="vm.deleteFromWatchlist(film, vm.user)"></td>
      </tr>
    </tbody>
  </table>      