<header ng-include="'/views/shared/header.html'"></header>

<div>
    <div>
        <h2>My upcoming rides</h2>
        <ul layout="column">
            <li flex layout="row" layout-align="space-around center" style="font-weight:bold;">
                <span flex>Ride Name</span>
                <span flex>Ride Date/Time</span>
                <span flex>Ride Details</span>
            </li>
            <li ng-repeat="ride in vm.myRides.list" ng-if="!ride.past_ride" class="my-rides-items" flex layout="row" layout-align="space-between center">
                <span flex>{{ride.rides_name}}</span>
                <span flex>{{ride.rides_date | date : 'short'}}</span>
                <span flex>
                    <md-button class="border ride-button" ng-click="vm.rideDetailReveal(ride)">Details</md-button>
                </span>
            </li>
        </ul>
    </div>
    <br>
    <br>
    <div>
        <h2>My past rides</h2>
        <ul layout="column">
            <li layout="row" flex layout-align="space-between center" style="font-weight:bold;">
                <span flex>Ride Name</span>
                <span flex>Ride Date/Time</span>
                <span flex>Distance Ridden</span>
                <span flex>Ride Details</span>
            </li>
            <li ng-repeat="ride in vm.myPastRides.list" class="my-rides-items" flex layout="row" layout-align="space-between center">
                <span flex>{{ride.rides_name}}</span>
                <span flex>{{ride.rides_date | date : 'short'}}</span>
                <span flex>{{ride.actualDistance}}</span>
                <span flex>
                    <md-button class="border ride-button" ng-click="vm.rideDetailRevealPast(ride)">Details</md-button>
                </span>
            </li>
        </ul>
    </div>
</div>