<header>
    <div class="instructions" layout="row" layout-align="space-between center">
        <h1 style="font-size:-webkit-xxx-large;">{{vm.ride.current.rides_name}}</h1>
        <md-button class="mobile-button" ng-click="vm.closeCheckIn()">Close</md-button>
    </div>
</header>
<div class="md-toolbar-tools mobile-middle-buttons" layout layout-align="space-around center">
    <md-button class="mobile-button" ng-click="vm.markRideComplete()">
            <i class="material-icons md-48">done</i>Ride Complete!</md-button>
    <md-button class="mobile-button" ng-click="vm.addRider()">
        <i class="material-icons md-48">person_add</i> Add Rider</md-button>
</div>

<div layout="column" layout-align="center center">
    <table>
        <thead>
            <tr>
                <th class="mobile-table-head">Member ID</th>
                <th class="mobile-table-head">Member Name</th>
                <th class="mobile-table-head">Checked In</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="rider in vm.riders.list">
                <td class="mobile-rider-cell">{{rider.member_id}}</td>
                <td class="mobile-rider-cell">{{rider.first_name}} {{rider.last_name}}</td>
                <td class="mobile-rider-checkbox" layout="column" layout-align="center center">
                    <md-checkbox aria-label="check-in-status" ng-checked="rider.checked_in" ng-click="vm.toggleCheckedIn(rider)">
                    </md-checkbox>
                </td>
            </tr>
        </tbody>
    </table>
</div>





<!-- <mdt-table>
    <mdt-header-row>
        <mdt-column align-rule="left">Member ID</mdt-column>
        <mdt-column align-rule="right">Member Name</mdt-column>
        <mdt-column align-rule="right">Checked-In</mdt-column>
    </mdt-header-row>
    <mdt-row>

    </mdt-row>
</mdt-table> -->