<header ng-include="'/views/shared/header.html'"></header>

<div>
    <div>
        <div layout="row" layout-align="space-between center">
            <h2>My Leading rides</h2>
            <md-button class="create-ride-button ride-button" ng-click="vm.createNewRide()">+ Create Ride</md-button>
        </div>
        <br>
        <br>
        <ul layout="column">
            <li layout="row" layout-align="space-around center" style="font-weight:bold;">
                <span flex>Ride Name</span>
                <span flex>Ride Date/Time</span>
                <span flex>Ride Details</span>
            </li>
            <li ng-repeat="ride in vm.myLeadRides.list" ng-if="!ride.past_ride" class="my-rides-items" layout="row" layout-align="space-between center">
                {{ride.status}}
                <span flex>{{ride.rides_name}}</span>
                <span flex>{{ride.rides_date}}</span>
                <span flex layout="row" layout-align="center center">
                    <md-button class="border ride-button" flex ng-click="vm.cancelRide()">Cancel</md-button>
                    <md-button class="border ride-button" flex ng-click="vm.checkRidersIn()">Check-In</md-button>
                    <md-button class="border ride-button" flex ng-click="vm.rideDetailReveal(ride)">Details</md-button>
                </span>
            </li>
        </ul>
    </div>
    <br>
    <br>
    <div>
        <h2>My upcoming rides</h2>
        <ul layout="column">
            <li layout="row" layout-align="space-around center" style="font-weight:bold;">
                <span flex>Ride Name</span>
                <span flex>Ride Date/Time</span>
                <span flex>Ride Details</span>
            </li>
            <li ng-repeat="ride in vm.rides.list" ng-if="!ride.past_ride" class="my-rides-items" layout="row" layout-align="space-between center">
                <span flex>{{ride.rides_name}}</span>
                <span flex>{{ride.rides_date}}</span>
                <span flex>
                    <md-button class="border ride-button" ng-click="vm.rideDetailReveal(ride)">Details</md-button>
                </span>
            </li>
        </ul>
    </div>
    <br>
    <br>
    <div>
        <h2>My past rides</h2>
        <!-- <div layout="row" layout-align="space-around stretch"> -->
            <ul layout="column">
                <li layout="row" flex layout-align="space-between center" style="font-weight:bold;">
                    <span flex>Ride Name</span>
                    <span flex>Ride Date/Time</span>
                    <span flex>Distance Ridden</span>
                    <span flex>Ride Details</span>
                </li>
                <li ng-repeat="ride in vm.rides.list" flex ng-if="ride.past_ride" class="my-rides-items" layout="row" layout-align="space-between center">
                    <span flex>{{ride.rides_name}}</span>
                    <span flex>{{ride.rides_date}}</span>
                    <span flex>{{ride.actualDistance}}</span>
                    <span flex>
                        <md-button class="border ride-button" flex ng-click="vm.rideDetailRevealPast(ride)">Details</md-button>
                    </span>
                </li>
            </ul>
        <!-- </div> -->
    </div>
</div>