<header ng-include="'/views/shared/header.html'"></header>

<div class="profileContainer">
    <div layout="column" class="profileLayout" layout-align="center center">
        <md-content class="profileInfo">
            <div layout-gt-sm="row">
                <label class="profileLabel">
                    Member id:
                </label>
                <label class="profileUserDataLabel" ng-disabled="true">{{user.member_id}}</label>
            </div>
            <div layout-gt-sm="row">
                <label class="profileLabel">
                    First name:
                </label>
                <label class="profileUserDataLabel" ng-disabled="true">{{user.first_name}}</label>
            </div>
            <div layout-gt-sm="row">
                <label class="profileLabel">
                    Last name:
                </label>
                <label class="profileUserDataLabel" ng-disabled="true">{{user.last_name}}</label>
            </div>
            <div layout-gt-sm="row">
                <label class="profileLabel">
                    City:
                </label>
                <label class="profileUserDataLabel" ng-disabled="true">{{user.city}}</label>
            </div>
            <div layout-gt-sm="row">
                <label class="profileLabel">
                    State:
                </label>
                <label class="profileUserDataLabel" ng-disabled="true">{{user.state}}</label>
            </div>
            <div layout-gt-sm="row">
                <label class="profileLabel">
                    Zip:
                </label>
                <label class="profileUserDataLabel" ng-disabled="true">{{user.zip}}</label>
            </div>
            <div layout-gt-sm="row">
                <label class="profileLabel">
                    Phone Number:
                </label>
                <label class="profileUserDataLabel" ng-disabled="true">{{user.phone_1}}</label>
            </div>
            <div layout-gt-sm="row">
                <label class="profileLabel">
                    Email:
                </label>
                <label class="profileUserDataLabel" ng-disabled="true">{{user.email}}</label>
            </div>
            <div layout-gt-sm="row">
                <label class="profileLabel">
                    Membership expiration:
                </label>
                <label class="profileUserDataLabel" ng-disabled="true">{{user.membership_expiration}}</label>
            </div>
            <div layout-gt-sm="row" class="profileLink">
                <a ng-href="https://www.w3schools.com">Update contact information</a>
            </div>
    </div>
    </md-content>
</div>
</div>