<header ng-include="'/views/shared/header.html'"></header>
<header ng-include="'/views/profile/partials/nav.html'"></header>

<div class="profileContainer">
    <div layout="column" class="profileLayout" layout-align="center center">
        <md-content class="profileInfo">
            <div layout-gt-sm="row">
                <label class="profileLabel">
                    Member number:
                </label>
                <label class="profileUserDataLabel" ng-disabled="true">1546</label>
            </div>
            <div layout-gt-sm="row">
                <label class="profileLabel">
                    Name:
                </label>
                <label class="profileUserDataLabel" ng-disabled="true">Darren Rector</label>
            </div>
            <div layout-gt-sm="row">
                <label class="profileLabel">
                    Address:
                </label>
                <label class="profileUserDataLabel" ng-disabled="true">5445 Boone Avenue North</label>
            </div>
            <div layout-gt-sm="row">
                <label class="profileLabel">
                    City:
                </label>
                <label class="profileUserDataLabel" ng-disabled="true">Maple Grove</label>
            </div>
            <div layout-gt-sm="row">
                <label class="profileLabel">
                    State:
                </label>
                <label class="profileUserDataLabel" ng-disabled="true">MN</label>
            </div>
            <div layout-gt-sm="row">
                <label class="profileLabel">
                    Zip:
                </label>
                <label class="profileUserDataLabel" ng-disabled="true">55428</label>
            </div>
            <div layout-gt-sm="row">
                <label class="profileLabel">
                    Phone Number:
                </label>
                <label class="profileUserDataLabel" ng-disabled="true">320-309-0976</label>
            </div>
            <div layout-gt-sm="row">
                <label class="profileLabel">
                    Email:
                </label>
                <label class="profileUserDataLabel" ng-disabled="true">darren@prime.com</label>
            </div>
            <div layout-gt-sm="row">
                <label class="profileLabel">
                    Membership expiration:
                </label>
                <label class="profileUserDataLabel" ng-disabled="true">August 20, 2019</label>
            </div>
            <div layout-gt-sm="row" class="profileLink">
                <a ng-href="https://www.w3schools.com">Update contact information</a>
            </div>
    </div>
    </md-content>
</div>
</div>